<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading"><b>{{category.catName}}</b>
      {{update-category category=category update="update"}}
      <a {{action 'delete' category}}><i class="fa fa-trash-o text-danger"></i></a></div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each category.subcats as |subcat|}}
          {{subcat-tile subcat=subcat subcatUpdate="subcatUpdate" destroySubcat="destroySubcat"}}
        {{/each}}
        {{new-subcat saveSubcat="saveSubcat" category=category}}
      </ul>
    </div>
  </div>
</div>
