{{#if updateCategoryForm}}
  <h4>Update {{category.catName}}</h4>
    <div>
      <form>

        <div class="form-group">
          <label for="catName">Update Category Name</label>
          {{input value=catName id="catName" placeholder=category.catName}}
        </div>
        <button class="btn btn-success" {{action 'update' category}}>Update</button>
      </form>
    </div>
{{else}}
    <a {{action 'updateCategoryForm'}}><i class="fa fa-pencil-square-o"></i></a>
{{/if}}
